.container{
    border:1px solid red;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    width:350px;
    height:450px;
    background-color:white;   
    top:50%;
    left:50%;
}
.main{
    display:flex;
    justify-content:center;
    
}
body{
    display:flex;
    justify-content:center;
    background-color:rgb(130, 176, 15);
    align-items:center;
}
.header{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.header h1{
    /* text-decoration:underline */
    /* border-bottom:1px solid black; */
}
.input input{
    border:none;
    border-bottom:1px solid black;
    width:320px;
    margin:10px;
}
.input a{
    display:flex;
    justify-content:flex-end;
    margin-right:20px;
}
.buttons button{
    width:320px;
    margin-left:8px;
    color:white;
    background-color:grey;
}
.buttons button:active{
    background-color:red;
    
}
.buttons button{
    cursor:pointer;
    margin-top:20px;
    height:35px;
}
.button1 button{
    width:150px;
    margin-left:8px;
    margin-top:10px;
    height:35px;
    background-color:blue;
    /* border: collpase 5px; */
}
.paragraph span{
    display:flex;
    justify-content:center;
    margin-top:10px;
    /* text-align:center; */
}
.button1 #but1{
    background-color:blue;
}
.button1 #but2{
    background-color:green;
}
.container .paragraph1{
    display:flex;
    justify-content:center;
    margin-top:10px;
}

.homePage .homepage{
    display:inline-block;
    align:center;
    border:1px solid black;
    height:30px;
    text-align:center;
    width:80px;
    color:black;
    padding-top:10px;
    background-color:blue;
    margin-left:35%;   
}
.homepage:link{
    text-decoration:none;
    
}
.homepage:active{
    background-color:red;
}

